<div class="image-wrapper" (click)="imageClicked.emit()">
  <img [ngClass]="{'single-image': isSingleImage}"  src="{{ image?.imageUrl }}" class="image" alt="image">
  <img *ngIf="image?.isFavourite" class="image heart" src="../../../assets/heart.png" alt="heart">
</div>
