.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .single-image {
    width: 500px;
  }
}

.image:hover {
  cursor: pointer;
}

.image {
  width: 350px;
  margin: 50px;
}

.heart {
  position: absolute;
  width: 50px;
  bottom: 0;
  right: 0;
}
