.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.remove {
  margin-top: -15px;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}
