<div class="wrapper">
  <app-image-item
    [image]="image"
    [isSingleImage]="true"
  ></app-image-item>
  <button
    class="remove"
    *ngIf="image"
    (click)="removeFromFavorites()"
  >Remove from favorites</button>
</div>
