<div class="wrapper">
  <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Photos</button>
  <button routerLink="/favorites" routerLinkActive="active" >Favorites</button>
</div>
