.wrapper {
  display: flex;
  justify-content: center;
  background-color: deeppink;

  button {
    margin: 20px 40px;
    width: 200px;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
  }

  .active {
    background-color: green;
    color: white;
  }
}
