<div class="wrapper">
  <app-image-item
    *ngFor="let image of favorites"
    [image]="image"
    (imageClicked)="selectImage(image)"
  ></app-image-item>
  <div
    *ngIf="!favorites?.length"
    class="no-photo"
  >There are no favorite photos</div>
</div>
