<app-scroll (scrolled)="onScroll()">
  <div class="wrapper">
    <app-image-item
      *ngFor="let image of images"
      [image]="image"
      (imageClicked)="addImageToFavorites(image)"
    ></app-image-item>
    <div class="spin" *ngIf="isLoading">
      <app-spinner></app-spinner>
    </div>
  </div>
</app-scroll>
